<h1 class="text-brown">Student details</h1>
<div *ngIf="student" class="container">
  <div class="row">
    <div class="col-3 d-flex justify-content-center align-items-center"><i class="fa-solid fa-user fa-xl icon"></i>
    </div>
    <div class="offset-1 col-8 row ps-3">
      <h2>{{student.name}}</h2>
      <h3>{{student.age}}</h3>
      <h3>{{student.address}}</h3>
      <h3>{{student.email}}</h3>
      <h3>{{student.mobile}}</h3>
    </div>
  </div>
  <div class="row mt-4">
    <div class="d-flex justify-content-center gap-4">
      <a routerLink="/update/{{student.id}}"><input class="button bg-second-brown text-white hover-brown" type="button"
          value="Update" (click)="updateStudent()"></a>
      <a><input class="button bg-redd text-white hover-redd" type="button" value="Delete"
          (click)="deleteStudent(student.id)"></a>
    </div>
  </div>
</div>

<div class="row bg-light">
</div>